<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.database.mapper.DatabaseMapper">

    <select id="isTable" resultType="java.lang.Integer">
        SELECT
            COUNT( * )
        FROM
            INFORMATION_SCHEMA.TABLES
        WHERE
            TABLE_SCHEMA = (SELECT DATABASE())
          AND TABLE_NAME = #{tableName}
          AND TABLE_TYPE = 'BASE TABLE';

    </select>
    <select id="getTableFields" resultType="com.kang.database.entity.Column">
        SELECT
            *
        FROM INFORMATION_SCHEMA.COLUMNS
        where
            TABLE_SCHEMA = (SELECT DATABASE())
          AND TABLE_NAME = #{tableName}
    </select>
    <select id="getTables" resultType="com.kang.database.entity.FaTable">
        SELECT
            *
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_SCHEMA = (SELECT DATABASE())
    </select>

    <insert id="newTable" parameterType="com.kang.common.vo.impl.FaTableVo">
        CREATE TABLE ${tableVo.tableName}
        <foreach collection="tableVo.fields" item="field" open="(" separator=","
                 close=")">
            ${field.fieldName} ${field.fieldType}(${field.length})
            <if test="!field.isNull">NOT NULL</if>
            <if test="field.isMajorKey">PRIMARY KEY</if>
            COMMENT #{field.comment}
        </foreach>
    </insert>
</mapper>
